<ion-app>
  <ion-menu contentId="main-content">
    <ion-header>
      <ion-toolbar>
        <ion-title>Ion-Menu</ion-title>
      </ion-toolbar>
    </ion-header>
    <ion-content class="ion-padding">
      <ion-list>
        <ion-item>
          <a routerLink="/home"> Home </a> 
        </ion-item>
        <ion-item>
          <a routerLink="/principal"> Principal </a> 
        </ion-item>
        <ion-item>
          <a routerLink="/lista-pokemon"> Lista Pokemón </a> 
        </ion-item>
      </ion-list>
    </ion-content>
  </ion-menu>
  <ion-router-outlet id="main-content"></ion-router-outlet> 
</ion-app>
